/Diskord
/target
/.gcloudignore
/chatLog.dat
/config.txt
/Diskord.jar
/pom.xml
/server.jar
/serverDetails.txt
/testArea
/installerSetup.iss
/manifest.manifest
/Diskord.xml
/Diskord.exe
/Diskord1.exe
/updateContent
/user.txt
/notification sound
/notification.wav
/Diskord-ssh-private-key.ppk
/ssh-key-2023-01-04.key